.itemContainer {
  background: grey!important;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40%!important;
  width: 20%!important;
  border:solid  3px #dfbb4c !important;
  
}


.itemContent {
  display:flex;  
  width: 100%;
  height: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.itemSubContent {
  height: 90%;
}

.itemMeta {
  color: #dfbb4c !important;
  font-style: italic;
  
}
