.teamsGrid {
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 5% !important;
}

.header {
  color: white !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%!important;
}

